* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body { 
  font: 13px Helvetica, Arial; 
}

#game_info {
  float: left;
}


/* chat css */
#chat {
  font-size: 12px;
  font-weight: 800;
  color: white;
  font-family: Helvetica, Arial, sans-serif
}

#chat form { 
  padding: 4px; 
  position: fixed; 
  bottom: 0; 
  padding: 5px;
  background: rgb(26, 26, 26); 
  width: 600px; 
}

#chat form input { 
  border: 0; 
  width: 90%; 
  padding: 5px;
  background: rgb(26, 26, 26); 
  color: white;
  margin-right: .5%; 
}

#chat form button { 
  width: 9%; 
  padding: 5px;
  background: white; 
  border: none;  
}

#chat #messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  position: fixed;
  bottom: 35px;
  width: 600px;
}

#chat #messages li { 
  padding: 5px 10px; 
  background: rgb(26, 26, 26); 
}

#chat #messages li:nth-child(odd) { 
  background: rgb(5, 5, 5); 
}